* {
  margin: 0;
  padding: 0;
}

.card {
  width: 18rem;
  height: 25rem !important;
  display: flex;
  justify-content: center;
  margin: 5% 40%;
  background-color: blueviolet !important;
  color: white !important;
}
